.editpopup{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    background-color:gray;
}
.editpopup-true{
    display: block;
}
.editpopup-false{
    display: none;
}